@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
