@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  /* -webkit-text-fill-color: #DF5627; */
}

input::placeholder {
  color: #df5627;
  opacity: 0.5; /* Firefox */
}

input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #df5627;
  opacity: 0.5;
}
